* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Literal';
}
@font-face {
    font-family: 'Literal';
    src: url(../fonts/Literal\ -\ Regular\ \(Personal\ use\).otf) format(truetype);
}
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&family=Exo+2:wght@400;800&family=Open+Sans:wght@400;700&family=Oswald:wght@300;700&family=Poppins:wght@400;600;700&family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,500;1,400&family=Rubik:wght@400;500&display=swap');