@import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&family=Exo+2:wght@400;800&family=Open+Sans:wght@400;700&family=Oswald:wght@300;700&family=Poppins:wght@400;600;700&family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,500;1,400&family=Rubik:wght@400;500&display=swap");
.header {
  width: 100%;
}
.header__wrapper {
  background: #5B4A58;
  padding: 10px;
}
.header__location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__location_item {
  display: flex;
  gap: 13px;
  font-size: 16px;
}
.header__location_item span {
  line-height: 22px;
  color: #6AAE55;
}
.header__location_item a {
  color: #fff;
}
.header__location_item .fa-phone {
  color: #6AAE55;
}
.header__location_item .fa-cart-arrow-down {
  color: #6AAE55;
  font-size: 20px;
}
.header__location_item .prices {
  color: #fff;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.header__navigation_list ul {
  display: flex;
  gap: 53px;
}
.header__navigation_list ul li {
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #5B4A58;
}
.header__navigation_dropdown {
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #5B4A58;
}
.header__navigation_lang {
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #5B4A58;
}
.header__navigation_lang #ru {
  opacity: 0.5;
}

.main {
  width: 100%;
  background: #E5E5E5;
}
.main__title {
  font-size: 14px;
  line-height: 19px;
  color: #828282;
  padding: 30px 0;
}
.main__product {
  width: 100%;
  display: flex;
  gap: 36px;
}
.main__pictures {
  width: 50%;
}
.main__pictures_img img {
  width: 100%;
}
.main__pictures_cards {
  width: 100%;
}
.main__pictures_cards_item {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.main__pictures_cards_item img:hover {
  transition-duration: 0.2s;
  transform: scale(1.1);
}
.main__info {
  width: 50%;
}
.main__info__title {
  margin-bottom: 13px;
}
.main__info__subtitle {
  margin-bottom: 9px;
}
.main__info__prices {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  cursor: pointer;
}
.main__info__item {
  margin-bottom: 20px;
  background-color: #fff;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 9px;
  transition: 0.2s;
}
.main__info__item:hover {
  transform: scale(1.1);
}
.main__info__item__size {
  font-size: 14px;
  line-height: 19px;
  color: #2b262a;
  font-weight: bold;
}
.main__info__item__p {
  font-size: 16px;
  line-height: 22px;
  color: #5B4A58;
}
.main__number__products {
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
}
.main__number__products__info {
  display: flex;
  gap: 34px;
  margin-bottom: 18px;
}
.main__number__products__info__p {
  font-size: 16px;
  line-height: 22px;
  color: #473d45;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.main__number__products__info__p:hover {
  font-size: 16px;
  line-height: 22px;
  color: #797979;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 3px solid #3f3b3b;
  border-radius: 4px;
  transform: scale(1.1);
}
.main__number__products__list__item {
  padding-left: 20px;
}
.main__number__products__list__item li {
  list-style: inline;
  list-style-type: circle;
  font-size: 16px;
  line-height: 150%;
  color: #5B4A58;
  margin-bottom: 9px;
}
.main__number__products__list__item li:hover {
  font-size: 16px;
  line-height: 150%;
  color: #5B4A58;
  opacity: 0.2;
  cursor: pointer;
}
.main__number__products__number__bag {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.main__number__products__number__bag__item {
  background-color: #fff;
  gap: 25px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.main__number__products__number__bag__item .fa-minus {
  background-color: #797979;
  padding: 3px;
  border-radius: 2px;
  color: #000;
  cursor: pointer;
}
.main__number__products__number__bag__item .fa-plus {
  background-color: green;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
}
.main__number__products__number__bag__item__p {
  font-size: 16px;
  line-height: 150%;
  color: #241f23;
  font-weight: bold;
}
.main__number__products__number__bag__item2 {
  width: 65%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 20px;
  border-radius: 10px;
}
.main__number__products__number__bag__item2__btn button {
  padding: 11px 30px;
  border: none;
  border-radius: 10px;
  background-color: #6AAE55;
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.center__class {
  width: 100%;
  margin-top: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.center__class__title {
  font-family: "Averia Sans Libre", cursive;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #6AAE55;
}
.center__class__item {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  padding: 50px 0;
}
.center__class__item__card {
  display: flex;
  width: 30%;
  height: 150px;
  gap: 10px;
}
.center__class__item__card__info > p {
  margin-bottom: 6px;
}
.center__class__item__card h3 {
  font-size: 15px;
  line-height: 24px;
  color: #5B4A58;
  margin-bottom: 10px;
}
.center__class__item__card p {
  font-size: 16px;
  line-height: 150%;
  color: #272426;
  font-weight: bold;
}
.center__class__item__card__number {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.center__class__item__card__number__btn button {
  background: #6AAE55;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  width: 100%;
  margin-top: 7px;
  padding: 5px;
}
.center__class__item__card__number .fa-minus {
  background-color: #797979;
  padding: 5px;
  border-radius: 4px;
}
.center__class__item__card__number .fa-plus {
  background-color: #6AAE55;
  padding: 5px;
  border-radius: 3px;
}
.center__class__pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}
.center__class__pages button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.center__class__pages button:hover {
  background-color: #797979;
  transition-duration: 0.5s;
  transform: scale(1.1);
}
.center__class__buy {
  width: 100%;
  display: flex;
  justify-content: center;
}
.center__class__buy button {
  background: #6AAE55;
  border-radius: 10px;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  border: none;
  padding: 10px 50px;
}

.footer {
  width: 100%;
  background: #746471;
  margin-top: 80px;
}
.footer__list {
  width: 100%;
}
.footer__list__item {
  display: flex;
  justify-content: space-around;
  padding: 31px 0;
}
.footer__list__item a {
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
}
.footer__about {
  width: 100%;
  background: #5B4A58;
  display: flex;
  justify-content: center;
}
.footer__about p {
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-size: 16px;
  line-height: 100%;
  color: #A69BA4;
  gap: 5px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Literal";
}

@font-face {
  font-family: "Literal";
  src: url(../fonts/Literal\ -\ Regular\ \(Personal\ use\).otf) format(truetype);
}
.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}

/*# sourceMappingURL=style.css.map */
