.footer {
    width: 100%;
    background: #746471;
    margin-top: 80px;

    &__list {
        width: 100%; 

        &__item{
            display: flex;
            justify-content: space-around;
            padding: 31px 0;

            a{
                font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */
                
                
                    color: #FFFFFF;
            }

    }

    }

    &__about{
        width: 100%;
        background: #5B4A58;
        display: flex;
        justify-content: center;

        p {
            display: flex;
            align-items: center;
            padding: 15px 0;
            font-size: 16px;
                line-height: 100%;
                color: #A69BA4;
            gap: 5px;
        }
    }

}